$main : $is-brand-layout-main
$content : $is-brand-layout-content
$content-text : $is-brand-layout-content-text

.is-brand-layout
  & > header
    background : $main
    padding : $u2
    display : flex
    flex-direction : column
    align-items : center
    .logo
      img
        max-width : 90%
        margin : 0 auto

      &.half
        width : 50%

      & + h1
        margin-top : $u2

    h1
      font-size : $unit * 3.5
      font-weight : 400
      text-transform : uppercase
      text-align : center
      color : $content-text

  & > section
    background : $content
    padding : $u2

  & > footer
    background : $main
    padding : $u2

