$width : $u7

// theme
$main : $is-lash-layout-main
$text : $is-lash-layout-text
$nav-hover : $is-lash-layout-nav-hover
$bubble : $is-lash-layout-bubble
$bubble-text : $is-lash-layout-bubble-text

.is-lash-layout
  flex : 1
  display : flex
  & > aside
    background : $main
    display : flex
    flex-direction : column
    width : $width + $u2
    //- padding : $u2
    img
      width : $width
      margin : $u2 $u

    section
      flex : 1

    nav
      ul
        li
          color : $text
          font-size : $u5
          width : $width + $u2
          height : $width + $u2
          display : flex
          align-items : center
          justify-content : center
          &:hover
            cursor : pointer
            background : rgba( $nav-hover, 0.5 )

          &.is-bubble
            position : relative
            .count
              position : absolute
              top : $u2
              right : $u2
              font-size : $u * 1.8
              font-weight : 500
              background : $bubble
              width : $u2
              height : $u2
              line-height : $u2
              text-align : center
              border-radius : 50%
              color : $bubble-text

  & > section
    flex : 1
    display : flex

