$header-height : $unit * 9

//theme
$main : $is-left-menu-layout-main
$header-text : $is-left-menu-layout-header-text
$aside-width : $is-left-menu-layout-aside-width
$aside-bg : $is-left-menu-layout-aside-bg
$aside-nav-text : $is-left-menu-layout-aside-nav-text
$aside-nav-hover-bg : $is-left-menu-layout-aside-nav-hover-bg
$aside-nav-hover-text : $is-left-menu-layout-aside-nav-hover-text
$aside-nav-active-bg : $is-left-menu-layout-aside-nav-active-bg
$aside-nav-active-text : $is-left-menu-layout-aside-nav-active-text
$aside-user-details-bg : $is-left-menu-layout-aside-user-details-bg
$aside-user-details-text : $is-left-menu-layout-aside-user-details-text

.is-left-menu-layout
  flex : 1
  display : flex
  flex-direction : column
  // overflow-y : auto
  & > header
    background : $main
    display : flex
    padding : $u2
    height : $header-height
    color : $header-text
    align-items : center
    .logo
      width : $aside-width
    h1
      flex : 1
      padding : 0 $u2
      font-size : $u4
    img
      height : $header-height

  & > section
    flex : 1
    display : flex
    overflow-y : auto
    // aside
    & > aside
      width : $aside-width
      background : $aside-bg
      display : flex
      flex-direction : column
      // nav
      & > nav
        flex : 1
        overflow-y : auto
        ul
          li
            padding : $u2
            color : $aside-nav-text
            &:hover
              background : $aside-nav-hover-bg
              color : $aside-nav-hover-text
              cursor : pointer
            &.is-active
              background : $aside-nav-active-bg
              color : $aside-nav-active-text
      // end nav

      & > section
        &.user-details
          padding : $u2
          background : $aside-user-details-bg
          .user-field
            color : $aside-user-details-text
            display : flex
            font-size : $unit * 2.5
            label
              flex : 1
              font-weight : 500
            .value
              flex : 2
            & + .user-field
              margin-top : $u
    // end aside

    // main content
    & > section
      flex : 1
      display : flex

