.is-centered-layout
  flex : 1
  display : flex
  justify-content : center
  align-items : center
  & > section
    width : $unit * 50
    max-height : 70vh
    &.is-half
      width : 50%
    &.is-large
      width : 70%

