// theme
$color : $color-text

body
  font-family : 'Barlow Semi Condensed'
  font-size : $base-text
  font-weight : 400
  color : $color

*
  font-family : 'Barlow Semi Condensed'
  &:focus
    outline : none
  &::placeholder
    font-family : 'Barlow Semi Condensed'

h1, h2, h3, h4, h5, h6
  font-family : 'Barlow Semi Condensed'
  font-weight : 400

a
  color : $color
  opacity : 0.8
  &:hover
    opacity : 1

p
  & + p
    margin-top : $u2

