$size : $u6

// theme
$button-bg : $is-pager-button-bg
$button-color : $is-pager-button-color
$button-action-bg : $is-pager-button-action-bg
$button-action-color : $is-pager-button-action-color
$button-hover-bg : $is-pager-button-hover-bg
$button-hover-color : $is-pager-button-hover-color
$button-disabled-bg : $is-pager-button-disabled-bg
$button-disabled-color : $is-pager-button-disabled-color
$button-active-bg : $is-pager-button-active-bg
$button-active-color : $is-pager-button-active-color

.is-pager
  .pager-wrap
    display : flex
    justify-content : center
    button
      background : $button-bg
      width : $size
      height : $size
      cursor : pointer
      &:hover
        background : $button-hover-bg
        color : $button-hover-color
        cursor : pointer
      &.is-action
        background : $button-action-bg
        color : $button-action-color
      &:disabled
        cursor : not-allowed
        background : $button-disabled-bg
        color : $button-disabled-color
    nav
      ul
        display : flex
        li
          button
            background : $button-bg
            color : $button-color
            &.is-active
              background : $button-active-bg
              color : $button-active-color

