$height : $u6

$bg : $is-meter-bg
$progress-bg : $is-meter-progress-bg

.is-meter
  background : $bg
  height : $height
  position : relative
  & > span
    display : block
    background : $progress-bg
    color : $red
    height : $height
    line-height : $height
    text-align : center
    overflow : hidden
    position : relative

  .percent
    position : absolute
    top : 0
    left : calc( 50% - 50px )
    width : 100px
    height : $height
    line-height : $height
    text-align : center

