// theme
$bg : $is-modal-bg
$close-bg : $is-modal-close-bg
$close-color : $is-modal-close-color
$close-hover-bg : $is-modal-close-hover-bg
$close-hover-color : $is-modal-close-hover-color

.is-modal
  background : $bg
  position : fixed
  top : 0
  left : 0
  width : 100%
  height : 100vh
  display : flex
  justify-content : center
  align-items : center
  .modal-content
    width : $unit * 50
    max-height : 70%
    &.is-half
      width : 50%
    &.is-large
      width : 70%
    &.is-full
      width : 100%
      min-height : 100vh

  .close
    position : fixed
    top : 0
    right : 0
    min-width : $header-height
    height : $header-height
    display : flex
    justify-content : center
    align-items : center
    cursor : pointer
    background : $close-bg
    color : $close-color
    &::before
      font-family : Ionicons
      content : "\f2d7"
      font-size : $u4
    &:hover
      background : $close-hover-bg
      color : $close-hover-color

