//theme
$color : $is-content-placeholder-color

.is-content-placeholder
  flex : 1
  display : flex
  justify-content : center
  align-items : center
  .placeholder
    max-width : 50%
    color : $color
    p.centered
      font-size : $u4
      text-align : center

