$header-height : $u6

$bg : $is-search-box-bg
$color : $is-search-box-color
$placeholder-color : $is-search-box-placeholder-color
$action-bg : $is-search-box-action-bg
$action-color : $is-search-box-action-color
$action-hover-bg : $is-search-box-action-hover-bg
$action-hover-color : $is-search-box-action-hover-color

.is-search-box
  flex : 1
  display : flex
  .clear
    min-width : $header-height
    height : $header-height
    display : flex
    justify-content : center
    align-items : center
    background : $action-bg
    color : $action-color
    cursor : pointer
    &::before
      font-family : Ionicons
      content : "\f2d7"
      font-size : $u4
    &:hover
      background : $action-hover-bg
      color : $action-hover-color
  input
    background : $bg
    color : $color
    font-size : $u4
    &::placeholder
      color : $placeholder-color
      opacity : 1

