$bg             : $sweet-alert-bg
$title-color    : $sweet-alert-title-color
$pararaph-color : $sweet-alert-pararaph-color

// icons
$success : $primary

.sweet-alert
  border-radius : 0
  background : $bg
  .sa-icon
    &.sa-success
      border-color : rgba( $success, 0.8 )
      &:before,
      &:after
        background : $bg

      .sa-fix
        background : $bg

      .sa-line
        background : $success

      .sa-placeholder
        border-color : rgba( $success, 0.3 )

    &.sa-error
      border-color : rgba( $cancel, 0.8 )

      .sa-line
        background : $cancel

  h2
    color : $title-color

  button
    width : auto
    border-radius : 0
    padding : $u2 $u3
    min-width : $unit * 10
    font-size : $u3
    line-height : normal
    opacity : 0.9
    &.confirm
      background : $success !important
    &.cancel
      background : $cancel !important
    &:hover
      opacity : 1
  p
    color : $pararaph-color
    font-size : $u3

