// theme
$action-bg : $is-wizard-action-bg
$action-color : $is-wizard-action-color
$action-hover-bg : $is-wizard-action-hover-bg
$action-hover-color : $is-wizard-action-hover-color

$step-bg : $is-wizard-step-bg
$step-color : $is-wizard-step-color
$step-active-bg : $is-wizard-step-active-bg
$step-active-color : $is-wizard-step-active-color
$step-hover-bg : $is-wizard-step-hover-bg
$step-hover-color : $is-wizard-step-hover-color
$step-complete-bg : $is-wizard-step-complete-bg
$step-complete-color : $is-wizard-step-complete-color

.is-wizard
  .wizard-wrap
    display : flex
    justify-content : space-between
    button
      background : $action-bg
      color : $action-color
      text-transform : uppercase
      width : auto
      cursor : pointer
      &:hover
        background : $action-hover-bg
        color : $action-hover-color
      &:disabled
        cursor : not-allowed
    nav
      flex : 1
      display : flex
      ul
        flex : 1
        display : flex
        justify-content : center
        li
          button
            background : $step-bg
            color : $step-color
            &:hover
              background : $step-hover-bg
              color : $step-hover-color
          &.is-active
            button
              background : $step-active-bg
              color : $step-active-color
            &:hover
              button
                background : $step-active-bg
                color : $step-active-color
          &.is-complete
            button
              background : $step-complete-bg
              color : $step-complete-color
            &:hover
              button
                background : $step-complete-bg
                color : $step-complete-color
          & + li
            margin-left : $u2

