h1
  font-size : $h2

h2
  font-size : $h3

h3
  font-size : $h4

h4
  font-size : $h5

h5
  font-size : $h6

.is-underline
  border-bottom : 1px solid $color-text

.is-centered
  text-align : center

