.is-left-menu-layout
  header
    .logo
      img( src="assets/ipfs-logo.svg" )
    h1 InterPlanetary File System
  section
    aside
      nav
        ul
          li( ui-sref="inside.palette" ) Palette
          li( ui-sref="inside.form" ) Forms
          li.is-active( ui-sref="inside.list" ) Headered List
          li( ui-sref="outside" ) Login Form
          li( ui-sref="outside:lock" ) Lock Screen
          li( ui-sref="inside.modals" ) Modals
          li( ui-sref="inside.alerts" ) Alerts
          li( ui-sref="lash" ) Lash layout
      section.user-details
        .user-field
          label Usuario
          .value rsalvador
      footer
        ul
          li
            button.is-button.is-transparent( ui-sref="outside" ) Salir

    // content
    section( ui-view="" )
      .is-content-placeholder
        .placeholder
          p.centered Para iniciar selecciona una de las opciones del menú que se encuentra en el panel izquierdo.

