$margin : $u2

.is-nested-item
  display : flex
  &:before
    font-family : 'Ionicons'
    content : "\f123"
    margin-right : $u
    font-size : $u * 1.2
    align-self : center
  &:last-child
    font-weight : 600
    &:before
      content : "\f209"
  & + .is-nested-item
    margin-left : $margin
    & + .is-nested-item
      margin-left : $margin * 2
      & + .is-nested-item
        margin-left : $margin * 3
        & + .is-nested-item
          margin-left : $margin * 4
          & + .is-nested-item
            margin-left : $margin * 5
            & + .is-nested-item
              margin-left : $margin * 6

