.is-content-card.is-margin-2x
  header
    h1 Alerts

  // main content
  section.is-padding-2x
    .is-row.is-underline
      h1 Sweetalert
    .is-row
      .is-one
        button.is-button.is-bg-green( ng-click="swal( 'Success', 'success message', 'success' )" ) success

    .is-row
      .is-one
        button.is-button.is-bg-red( ng-click="swal( 'error', 'error message', 'error' )" ) error

    .is-row
      .is-one
        button.is-button.is-bg-yellow( ng-click="swal( 'warning', 'warning message', 'warning' )" ) warning

    .is-row
      .is-one
        button.is-button.is-bg-cyan( ng-click="swal( 'info', 'info message', 'info' )" ) info

