.is-lash-layout
	aside
		section
			nav
				ul
					li( ui-sref="inside" )
						img( src="assets/ipfs-logo-vector-ice.svg" )
					li.is-bubble
						i.ion-android-folder
						.count 5
					li
						i.ion-earth
					li
						i.ion-android-person

		footer
			nav
				ul
					li
						i.ion-power

	section Loremso

