.is-content-card.is-margin-2x
  header
    .is-search-box
      input(
        ng-model="search"
        placeholder="Buscar usuario"
      )
      .clear( ng-click="search=''" ng-show="search" )
    .actions
      .is-action.is-success
        i.ion-android-add

  // main content
  section.sp
    .is-headered-collection.is-one.sp.is-overflow-y
      header
        .is-three name
        .is-one age
        .is-half.is-centered check
        .actions.is-offset-2x
      section.is-one.is-overflow-y
        .item( ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]" )
          .is-three Loremso ipsumo
          .is-one 15
          .is-half.is-centered
            i.ion-android-done
          .actions
            .action.is-hover-info
              i.ion-edit
            .action.is-hover-danger
              i.ion-trash-b
  // end main content

  // footer
  footer
    .is-pager
      .pager-wrap
        button.is-action.back.ion-ios-arrow-back
        nav
          ul
            li.page.first
              button 1
            li.page
              button ...
            li.page
              button 1
            li.page
              button 2
            li.page
              button.is-active 3
            li.page
              button 4
            li.page
              button 5
            li.page
              button ...
            li.page.last
              button( disabled ) 254
        button.is-action.next.ion-ios-arrow-forward

    .is-wizard
      .wizard-wrap
        button.back(
        ) Atr&aacute;s
        nav
          ul
            li.page.is-complete
              button contact
            li.page.is-active
              button 2
            li.page
              button 3
            li.page
              button files
          button.next( ) Siguiente
          button.save(
          ) Validar

  // end footer

