.is-content-card.is-margin-2x
  header
    h1 Modals

  // main content
  section.is-padding-2x
    .is-row.is-underline
      h1 basic
    .is-row
      .is-one
        button.is-button.is-bg-magenta( ui-sref="inside.modals.default" ) default
    .is-row
      .is-one
        button.is-button.is-bg-yellow( ui-sref="inside.modals.half" ) half
    .is-row
      .is-one
        button.is-button.is-bg-cyan( ui-sref="inside.modals.large" ) large

    .is-row.is-underline
      h1 card
    .is-row
      .is-one
        button.is-button.is-bg-magenta( ui-sref="inside.modals.card" ) card
  // end main content

div( ui-view="" )

