.is-modal
  .close( ui-sref="inside.modals" )
  .modal-content
    header
      h1 {{ system.name }}
    section
      h1.is-centered Aviso
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar ligula maximus purus imperdiet ultricies. Donec vel malesuada tellus. Sed ornare porta eros vitae ultrices. Mauris nec sollicitudin ipsum, ac auctor est. Nam ultrices rhoncus quam, dictum cursus libero tempus eget. Nulla facilisi. Fusce egestas ultricies mauris, quis facilisis enim tempor sit amet. Aenean egestas eu diam pretium pharetra. Pellentesque consectetur tortor et lectus rutrum efficitur. Donec scelerisque, nibh a feugiat porttitor, felis dolor porttitor enim, lacinia interdum massa dolor ac purus. Vestibulum quis neque nec odio bibendum eleifend. Maecenas id diam sodales, tincidunt ex et, mollis dui.

        | Phasellus in lectus eget sem dictum vestibulum. Fusce mollis, lacus et euismod bibendum, odio lorem venenatis erat, eget tincidunt arcu dolor eget dolor. Donec convallis lorem sed libero molestie, id fermentum dui malesuada. Nullam dignissim ligula et pulvinar posuere. Etiam sit amet quam quis justo vulputate semper. Duis vel libero mi. Nam sed accumsan mi. Donec egestas nec lacus eu dignissim. Nam eleifend nec est ac posuere. Mauris vel ipsum facilisis nisi mollis convallis ut sed purus. Ut mi erat, pellentesque et dolor non, aliquet lacinia sapien.

