.is-content-card.is-margin-2x
  header
    h1 Palette

  // main content
  section.is-padding-2x
    .is-row
      .is-one
        button.is-button.is-bg-navy.is-color-snow navy

    .is-row
      .is-one
        button.is-button.is-bg-navy-muted.is-color-snow navy-muted

    .is-row
      .is-one
        button.is-button.is-bg-aqua.is-color-snow aqua

    .is-row
      .is-one
        button.is-button.is-bg-aqua-muted.is-color-snow aqua-muted

    .is-row
      .is-one
        button.is-button.is-bg-gray.is-color-snow gray

    .is-row
      .is-one
        button.is-button.is-bg-gray-muted.is-color-snow gray-muted

    .is-row
      .is-one
        button.is-button.is-bg-charcoal.is-color-snow charcoal

    .is-row
      .is-one
        button.is-button.is-bg-charcoal-muted.is-color-snow charcoal-muted

    .is-row
      .is-one
        button.is-button.is-bg-red.is-color-snow red

    .is-row
      .is-one
        button.is-button.is-bg-red-muted.is-color-snow red-muted

    .is-row
      .is-one
        button.is-button.is-bg-yellow.is-color-snow yellow

    .is-row
      .is-one
        button.is-button.is-bg-yellow-muted.is-color-snow yellow-muted

    .is-row
      .is-one
        button.is-button.is-bg-teal.is-color-snow teal

    .is-row
      .is-one
        button.is-button.is-bg-teal-muted.is-color-snow teal-mute

    .is-row
      .is-one
        button.is-button.is-bg-green.is-color-snow green

    .is-row
      .is-one
        button.is-button.is-bg-green-muted.is-color-snow green-muted

    .is-row
      .is-one
        button.is-button.is-bg-snow.is-color-snow snow

    .is-row
      .is-one
        button.is-button.is-bg-snow-muted.is-color-snow snow-muted

    .is-row
      .is-one
        button.is-button.is-bg-primary primary

    .is-row
      .is-one
        button.is-button.is-bg-cancel cancel

    .is-row
      .is-one
        button.is-button.is-bg-complete complete

    .is-row
      .is-one
        button.is-button.is-bg-incomplete incomplete

//- .loader-wrap
  .loader-container.ball-pulse-double
    .loader
      .ball-1
      .ball-2

