// theme
$bg : $input-bg
$border-color : $input-border-color
$color : $input-color

input,
textarea,
select,
button
  background : $bg
  border : 1px solid $border-color
  color : $color
  font-size : $input-font-size
  line-height : $input-height
  padding : 0 $u2
  width : 100%
  &::placeholder
    color : lighten( $color, 5% )
  &:disabled
    cursor : not-allowed
    opacity : 0.5

