// theme
$bg : $is-select-tagger-bg
$tag-bg : $is-select-tagger-tag-bg
$tag-action-bg : $is-select-tagger-tag-action-bg

.is-select-tagger
  background : $bg
  padding : $unit
  display : flex
  .tags
    display : flex
    flex-wrap : wrap
    .tag
      background : $tag-bg
      display : flex
      align-items : center
      height : $unit * 5
      label
        padding : 0 $unit * 2
        line-height : $unit * 5
      .remove
        background : $tag-action-bg
        margin : 0
        width : $unit * 5
        height : $unit * 5
        font-size : $unit * 3.5
        display : flex
        justify-content : center
        align-items : center
        cursor : pointer
        &:hover
          background : rgba( $red, 0.8 )
          color : $color-text-invert

      & + .tag
        margin-left : $unit * 2

  .select-wrap
    position : relative
    margin-left : $unit * 2
    background : $tag-bg
    select
      appearance : none
      height : $unit * 5
      line-height : $unit * 5
      padding : 0 $unit * 5 0 $unit
      background : transparent
      cursor : pointer
      &:hover,
      &:active
        outline : none
    &:after
      font-family : 'Ionicons'
      content : "\f2c7"
      font-size : $unit * 4
      text-align : center
      box-sizing : border-box
      pointer-events : none
      position : absolute
      right : 0
      width : $unit * 5
      height : $unit * 5
      line-height : $unit * 5
      background : $tag-action-bg

