// theme
$button-bg : $is-field-button-bg
$button-color : $is-field-button-color
$button-hover-bg : $is-field-button-hover-bg
$button-hover-color : $is-field-button-hover-color

select
  appearance : none

.is-select
  position : relative
  border : 1px solid transparent
  select
    padding-right : $input-height
    height : $input-height
    cursor : pointer
    &:disabled
      cursor : not-allowed
  &:after
    font-family : 'Ionicons'
    content : '\f35f'
    font-size : $input-font-size
    text-align : center
    box-sizing : border-box
    pointer-events : none
    position : absolute
    right : 0
    width : $input-height
    line-height : $input-height
    background : $button-bg
    color : $button-color
  &:hover
    &:after
      background : $button-hover-bg
      color : $button-hover-color

