.is-radio
  display : flex
  cursor : pointer
  input
    display : none
    &:checked
      & + span
        &:before
          content : "\f3a7"
    &:disabled
      cursor : not-allowed
      & + span
        cursor : not-allowed
        opacity : 0.5

  span
    flex : 1
    line-height : $input-height
    padding-left : $u2
    display : flex
    &:before
      display : inline-block
      font-family : "Ionicons"
      content : "\f3a6"
      font-size : $input-font-size * 1.2
      margin-right : $u2

