.is-file-button
  display : flex
  justify-content : center
  background : red
  line-height : $input-height
  opacity : 0.8
  input[type=file]
    display : none
  &:hover
    opacity : 1
    cursor : pointer
  .is-icon
    & + span,
    & + .is-icon
      margin-left : $u
  span
    text-transform : uppercase
    & + .is-icon
      margin-left : $u

