//- field
$button-bg : $is-field-button-bg
$button-color : $is-field-button-color
$button-hover-bg : $is-field-button-hover-bg
$button-hover-color : $is-field-button-hover-color

.is-field
  display : flex
  flex-direction : column
  label
    font-size : $input-font-size
    & + *
      margin-top : $u
  .is-control
    border : 1px solid transparent
    display : flex
    input,
    textarea,
    select
      flex : 1
    .is-icon,
    .is-action,
    .is-progress
      background : $button-bg
      width : $input-height
      height : $input-height
      border : 1px solid $button-bg
      display : flex
      justify-content : center
      align-items : center
      i
        font-size : $input-font-size * 1.1

    .is-action
      color : $button-color
      &:hover
        background : $button-hover-bg
        border-color : $button-hover-bg
        color : $button-hover-color
        cursor : pointer

    .is-progress
      i
        animation : heartbeat 1s infinite

