$size : $u6

.is-multilevel-dropdown
  height : $size
  position : relative
  z-index : 9
  .placeholder
    line-height : $size
    background : $red
    padding : 0 $u2
    cursor : pointer
    position : relative
    &:after
      font-family : 'Ionicons'
      content : '\f35f'
      font-size : $input-font-size
      text-align : center
      box-sizing : border-box
      pointer-events : none
      position : absolute
      right : 0
      width : $size
      line-height : $size
      background : lighten( $color-main-content, 5% )
  & > ul
    background : $red
    border : 1px solid $red
    max-height : $u * 30
    overflow-y : auto
    li
      line-height : $size
      padding-left : $u2
      div
        padding : 0 $u2
        &.is-label
          font-weight : 500
        &:not(.is-label)
          &:hover
            background : $red
            cursor : pointer

