// background colors
[class*=is-bg-]
  color : $color-text-invert

//- palette
.is-bg-navy
  background : $navy
.is-bg-navy-muted
  background : $navy-muted
.is-bg-aqua
  background : $aqua
.is-bg-aqua-muted
  background : $aqua-muted
.is-bg-gray
  background : $gray
.is-bg-gray-muted
  background : $gray-muted
.is-bg-charcoal
  background : $charcoal
.is-bg-charcoal-muted
  background : $charcoal-muted
.is-bg-red
  background : $red
.is-bg-red-muted
  background : $red-muted
.is-bg-yellow
  background : $yellow
.is-bg-yellow-muted
  background : $yellow-muted
.is-bg-teal
  background : $teal
.is-bg-teal-muted
  background : $teal-muted
.is-bg-green
  background : $green
.is-bg-green-muted
  background : $green-muted
.is-bg-snow
  background : $snow
.is-bg-snow-muted
  background : $snow-muted

.is-bg-primary
  background : $primary
.is-bg-cancel
  background : $cancel
.is-bg-complete
  background : $complete
.is-bg-incomplete
  background : $incomplete

//- complement
.is-bg-yellow
  background : $color-yellow

.is-bg-orange
  background : $color-orange

.is-bg-red
  background : $color-red

.is-bg-magenta
  background : $color-magenta

.is-bg-violet
  background : $color-violet

.is-bg-blue
  background : $color-blue

.is-bg-cyan
  background : $color-cyan

.is-bg-green
  background : $color-green

.is-turquoise
  background : $color-turquoise

//- flat material
.is-bg-emerland
  background : $color-emerland

.is-bg-peterriver
  background : $color-peterriver

.is-bg-amethyst
  background : $color-amethyst

.is-bg-wetasphalt
  background : $color-wetasphalt

.is-bg-greensea
  background : $color-greensea

.is-bg-nephritis
  background : $color-nephritis

.is-bg-belizehole
  background : $color-belizehole

.is-bg-wisteria
  background : $color-wisteria

.is-bg-midnightblue
  background : $color-midnightblue

.is-bg-sunflower
  background : $color-sunflower

.is-bg-carrot
  background : $color-carrot

.is-bg-alizarin
  background : $color-alizarin

.is-bg-clouds
  background : $color-clouds

.is-bg-concrete
  background : $color-concrete

.is-bg-orange
  background : $color-orange

.is-bg-pumpkin
  background : $color-pumpkin

.is-bg-pomegranate
  background : $color-pomegranate

.is-bg-silver
  background : $color-silver

.is-bg-asbestos
  background : $color-asbestos

