// text colors

//- palette
.is-color-navy
  color : $navy
.is-color-navy-muted
  color : $navy-muted
.is-color-aqua
  color : $aqua
.is-color-aqua-muted
  color : $aqua-muted
.is-color-gray
  color : $gray
.is-color-gray-muted
  color : $gray-muted
.is-color-charcoal
  color : $charcoal
.is-color-charcoal-muted
  color : $charcoal-muted
.is-color-red
  color : $red
.is-color-red-muted
  color : $red-muted
.is-color-yellow
  color : $yellow
.is-color-yellow-muted
  color : $yellow-muted
.is-color-teal
  color : $teal
.is-color-teal-muted
  color : $teal-muted
.is-color-green
  color : $green
.is-color-green-muted
  color : $green-muted
.is-color-snow
  color : $snow
.is-color-snow-muted
  color : $snow-muted

// extra
.is-color-primary
  color : $primary
.is-color-cancel
  color : $cancel
.is-color-complete
  color : $complete
.is-color-incomplete
  color : $incomplete

//- complement
.is-color-yellow
  color : $color-yellow

.is-color-orange
  color : $color-orange

.is-color-red
  color : $color-red

.is-color-magenta
  color : $color-magenta

.is-color-violet
  color : $color-violet

.is-color-blue
  color : $color-blue

.is-color-cyan
  color : $color-cyan

.is-color-green
  color : $color-green

//- flat material
.is-color-emerland
  color : $color-emerland

.is-color-peterriver
  color : $color-peterriver

.is-color-amethyst
  color : $color-amethyst

.is-color-wetasphalt
  color : $color-wetasphalt

.is-color-greensea
  color : $color-greensea

.is-color-nephritis
  color : $color-nephritis

.is-color-belizehole
  color : $color-belizehole

.is-color-wisteria
  color : $color-wisteria

.is-color-midnightblue
  color : $color-midnightblue

.is-color-sunflower
  color : $color-sunflower

.is-color-carrot
  color : $color-carrot

.is-color-alizarin
  color : $color-alizarin

.is-color-clouds
  color : $color-clouds

.is-color-concrete
  color : $color-concrete

.is-color-orange
  color : $color-orange

.is-color-pumpkin
  color : $color-pumpkin

.is-color-pomegranate
  color : $color-pomegranate

.is-color-silver
  color : $color-silver

.is-color-asbestos
  color : $color-asbestos

.is-color-primary
  color : $primary

.is-color-cancel
  color : $cancel

.is-color-complete
  color : $complete

.is-color-incomplete
  color : $incomplete
