// border colors

//- palette
.is-line-navy
  border-color : $navy
.is-line-navy-muted
  border-color : $navy-muted
.is-line-aqua
  border-color : $aqua
.is-line-aqua-muted
  border-color : $aqua-muted
.is-line-gray
  border-color : $gray
.is-line-gray-muted
  border-color : $gray-muted
.is-line-charcoal
  border-color : $charcoal
.is-line-charcoal-muted
  border-color : $charcoal-muted
.is-line-red
  border-color : $red
.is-line-red-muted
  border-color : $red-muted
.is-line-yellow
  border-color : $yellow
.is-line-yellow-muted
  border-color : $yellow-muted
.is-line-teal
  border-color : $teal
.is-line-teal-muted
  border-color : $teal-muted
.is-line-green
  border-color : $green
.is-line-green-muted
  border-color : $green-muted
.is-line-snow
  border-color : $snow
.is-line-snow-muted
  border-color : $snow-muted

.is-line-primary
  border-color : $primary !important
.is-line-cancel
  border-color : $cancel !important
.is-line-complete
  border-color : $complete !important
.is-line-incomplete
  border-color : $incomplete !important

//- complement
.is-line-yellow
  border-color : $color-yellow !important

.is-line-orange
  border-color : $color-orange !important

.is-line-red
  border-color : $color-red !important

.is-line-magenta
  border-color : $color-magenta !important

.is-line-violet
  border-color : $color-violet !important

.is-line-blue
  border-color : $color-blue !important

.is-line-cyan
  border-color : $color-cyan !important

.is-line-green
  border-color : $color-green !important

.is-line-primary
  border-color : $primary !important

.is-line-cancel
  border-color : $cancel !important

.is-line-complete
  border-color : $complete !important

.is-line-incomplete
  border-color : $incomplete !important

//- flat material
.is-line-emerland
  border-color : $color-emerland !important

.is-line-peterriver
  border-color : $color-peterriver !important

.is-line-amethyst
  border-color : $color-amethyst !important

.is-line-wetasphalt
  border-color : $color-wetasphalt !important

.is-line-greensea
  border-color : $color-greensea !important

.is-line-nephritis
  border-color : $color-nephritis !important

.is-line-belizehole
  border-color : $color-belizehole !important

.is-line-wisteria
  border-color : $color-wisteria !important

.is-line-midnightblue
  border-color : $color-midnightblue !important

.is-line-sunflower
  border-color : $color-sunflower !important

.is-line-carrot
  border-color : $color-carrot !important

.is-line-alizarin
  border-color : $color-alizarin !important

.is-line-clouds
  border-color : $color-clouds !important

.is-line-concrete
  border-color : $color-concrete !important

.is-line-orange
  border-color : $color-orange !important

.is-line-pumpkin
  border-color : $color-pumpkin !important

.is-line-pomegranate
  border-color : $color-pomegranate !important

.is-line-silver
  border-color : $color-silver !important

.is-line-asbestos
  border-color : $color-asbestos !important

