// hover
[class*=is-bg-hover-]
  color : $color-text
  &:hover
    color : $color-text-invert

//- palette
.is-bg-hover-navy
  &:hover
    background : $navy
.is-bg-hover-navy-muted
  &:hover
    background : $navy-muted
.is-bg-hover-aqua
  &:hover
    background : $aqua
.is-bg-hover-aqua-muted
  &:hover
    background : $aqua-muted
.is-bg-hover-gray
  &:hover
    background : $gray
.is-bg-hover-gray-muted
  &:hover
    background : $gray-muted
.is-bg-hover-charcoal
  &:hover
    background : $charcoal
.is-bg-hover-charcoal-muted
  &:hover
    background : $charcoal-muted
.is-bg-hover-red
  &:hover
    background : $red
.is-bg-hover-red-muted
  &:hover
    background : $red-muted
.is-bg-hover-yellow
  &:hover
    background : $yellow
.is-bg-hover-yellow-muted
  &:hover
    background : $yellow-muted
.is-bg-hover-teal
  &:hover
    background : $teal
.is-bg-hover-teal-muted
  &:hover
    background : $teal-muted
.is-bg-hover-green
  &:hover
    background : $green
.is-bg-hover-green-muted
  &:hover
    background : $green-muted
.is-bg-hover-snow
  &:hover
    background : $snow
.is-bg-hover-snow-muted
  &:hover
    background : $snow-muted

.is-bg-hover-primary
  &:hover
    background : $primary
.is-bg-hover-cancel
  &:hover
    background : $cancel
.is-bg-hover-complete
  &:hover
    background : $complete
.is-bg-hover-incomplete
  &:hover
    background : $incomplete

//- complement
.is-bg-hover-yellow
  &:hover
    background : $color-yellow

.is-bg-hover-orange
  &:hover
    background : $color-orange

.is-bg-hover-red
  &:hover
    background : $color-red

.is-bg-hover-magenta
  &:hover
    background : $color-magenta

.is-bg-hover-violet
  &:hover
    background : $color-violet

.is-bg-hover-blue
  &:hover
    background : $color-blue

.is-bg-hover-cyan
  &:hover
    background : $color-cyan

.is-bg-hover-green
  &:hover
    background : $color-green

//- flat material
.is-bg-hover-emerland
  &:hover
    background : $color-emerland

.is-bg-hover-peterriver
  &:hover
    background : $color-peterriver

.is-bg-hover-amethyst
  &:hover
    background : $color-amethyst

.is-bg-hover-wetasphalt
  &:hover
    background : $color-wetasphalt

.is-bg-hover-greensea
  &:hover
    background : $color-greensea

.is-bg-hover-nephritis
  &:hover
    background : $color-nephritis

.is-bg-hover-belizehole
  &:hover
    background : $color-belizehole

.is-bg-hover-wisteria
  &:hover
    background : $color-wisteria

.is-bg-hover-midnightblue
  &:hover
    background : $color-midnightblue

.is-bg-hover-sunflower
  &:hover
    background : $color-sunflower

.is-bg-hover-carrot
  &:hover
    background : $color-carrot

.is-bg-hover-alizarin
  &:hover
    background : $color-alizarin

.is-bg-hover-clouds
  &:hover
    background : $color-clouds

.is-bg-hover-concrete
  &:hover
    background : $color-concrete

.is-bg-hover-orange
  &:hover
    background : $color-orange

.is-bg-hover-pumpkin
  &:hover
    background : $color-pumpkin

.is-bg-hover-pomegranate
  &:hover
    background : $color-pomegranate

.is-bg-hover-silver
  &:hover
    background : $color-silver

.is-bg-hover-asbestos
  &:hover
    background : $color-asbestos

.is-bg-hover-primary
  &:hover
    background : $primary

.is-bg-hover-cancel
  &:hover
    background : $cancel

.is-bg-hover-complete
  &:hover
    background : $complete

.is-bg-hover-incomplete
  &:hover
    background : $incomplete
