.is-primary
  background : $primary
  color : $color-text-invert

.is-warning
  background : $color-orange
  color : $color-text-invert

.is-danger
  background : $color-red
  color : $color-text-invert

.is-info
  background : $color-blue
  color : $color-text-invert

.is-success
  background : $color-green
  color : $color-text-invert

// hover
.is-hover-primary
  &:hover
    background : $primary
    color : $color-text-invert

.is-hover-warning
  &:hover
    background : $color-orange
    color : $color-text-invert

.is-hover-danger
  &:hover
    background : $color-red
    color : $color-text-invert

.is-hover-info
  &:hover
    background : $color-blue
    color : $color-text-invert

.is-hover-success
  &:hover
    background : $color-green
    color : $color-text-invert

