.is-centered-layout
  section.is-brand-layout( ui-sref="inside" )
    header
      .logo.half
        img( src="assets/ipfs-logo-vector-ice-text.svg" )
      h1 {{ system.name }}
    section
      h1.is-centered Aviso
      p
        | El sistema no esta disponible en este momento.

