.is-centered-layout
  section.is-brand-layout
    header
      .logo.half.is-content-centered
        img( src="assets/ipfs-logo-vector-ice-text.svg" )
      h1 {{ system.name }}
    section
      form
        .is-row
          .is-one
            .is-field
              .is-control
                .is-icon
                  i.ion-android-person
                input(
                  type="text"
                  placeholder="usuario"
                  ng-model="credentials.username"
                )

        .is-row
          .is-one
            .is-field
              .is-control
                .is-icon
                  i.ion-key
                input(
                  type="password"
                  placeholder="contraseña"
                  ng-model="credentials.password"
                )

        .is-row
          .is-one
            button.is-button.is-bg-primary( ui-sref="inside" ) Entrar

